<div>
  <loader *ngIf="isLoading"></loader>
</div>
<div class="row">
  <div class="col-md-7">
    <div class="col-sm-12">
      <h1>{{currentCompany.name}}</h1>
    </div>
    <div class="col-sm-12">
      <nvd3 [options]="options" [data]="data"></nvd3>
    </div>
  </div>
  <div class="col-md-5">
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th>Состав пакета</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let action of actions">
        <td class="action-name-column">{{action.name}}</td>
        <td>
          <i *ngIf="action.change > 0" class="fa fa-caret-up action-icon-up" aria-hidden="true">+{{action.change}}%</i>
          <i *ngIf="action.change < 0" class="fa fa-caret-down action-icon-down" aria-hidden="true">{{action.change}}%</i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Бюджет:</h3> {{currentCompany.budget}}
    <h3>Текущий баланс:</h3> {{currentCompany.budget*1.26}}
  </div>
  <div class="col-md-6">
    <h3>Год основания:</h3> {{currentCompany.foundation}}
    <h3>Штат:</h3> {{currentCompany.state}}
  </div>
</div>
