<div class="login-page">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
        	<img src="assets/img/SB-admin.png" width="150px" class="user-avatar" />
			<h1>Please, log in !</h1>
			<form role="form" #loginForm="ngForm">
				<div class="form-content">
					<div class="form-group">
						<input type="text" name="login" [(ngModel)]="login" class="form-control input-underline input-lg" placeholder="Login">
					</div>
					<div class="form-group">
						<input type="password" name="password" [(ngModel)]="password" class="form-control input-underline input-lg" id="password" placeholder="Password">
					</div>
				</div>
				<button class="btn rounded-btn" (click)="onSubmit()" > Log in </button><!-- routerLink="/dashboard/home"-->
				<a class="btn rounded-btn inactive-link-button" routerLink="/signup">Register</a>
			</form>
		</div>
	</div>
</div>
