<loader *ngIf="isLoading"></loader>
<div class="row"> <!--*ngIf="!isLoading"-->
  <div class="col-xl-12 col-lg-12">
    <div class="col-sm-12">
      <span class="pull-left">Список зарегестрированных компаний</span>
      <span class="pull-right">
        <button class="btn btn-success" [routerLink]="['new']">
          Создать
        </button>
      </span>
    </div>
    <div>
      <div class=" col-md-6 col-lg-4" *ngFor="let company of companies">
        <div class="card company-tile">
          <div class="card-header card-default">
            {{company.name}}
          </div>
          <div class="card-block">
          <span>
            <h2>
              Штат: {{company.state}}
            </h2>
          </span>
            <div class="card-footer">
            <span>
              <i class="fa fa-usd"></i>
              {{company.budget}}
            </span>
            </div>
          </div>
          <div class="card-footer card-default">
            <a [routerLink]="['company/:id', {id: company._id}]">
              <span class="pull-xs-left">Подробнее</span>
              <span class="pull-xs-right"><i class="fa fa-arrow-circle-right"></i></span>
              <span class="pull-xs-right year-span">{{company.foundation}}</span>
              <div class="clearfix"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

