<loader *ngIf="isLoading"></loader>
<div class="row"> <!--*ngIf="!isLoading"-->
  <div class="col-xl-12 col-lg-12">
    <h4>Basic example</h4>
    <div class="card card-block">
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
          <tr>
            <th>id</th>
            <th>Name</th>
            <th>State</th>
            <th>Budget</th>
            <th>Foundation</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let company of companies">
            <th>{{company._id}}</th>
            <td>{{company.name}}</td>
            <td>{{company.state}}</td>
            <td>{{company.foundation}}</td>
            <td>{{company.budget}}</td>
            <td class="actions-column">
              <button class="btn btn-sm btn-info" [routerLink]="['company/:id', {id: company._id}]" >
                <i class="fa fa-info" aria-hidden="true"></i> More
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

