.company-tile{
  padding:0;
  span{
    color: #222;
  }
  .card-header{
    background: #686767;
    color: whitesmoke;
  }
  .year-span{
    padding-right: 20px;
  }
  .id-span{
    font-size: x-small;
  }
  &:hover{
    background-color: rgba(204, 204, 204, 0.38);
    -webkit-transition: background-color 500ms ease-out;
    -moz-transition: background-color 500ms ease-out;
    -o-transition: background-color 500ms ease-out;
    -ms-transition: background-color 500ms ease-out;
    transition: background-color 500ms ease-out;
  }
}
