<loader *ngIf="isLoading"></loader>
<div class="col-md-12">
  <div class="col-md-12 header-profile">
    <div class="col-lg-3">
      <img src="assets/img/SB-admin.png" width="150px" class="user-avatar" />
    </div>
    <div class="col-lg-8 profile-login">
      <div class="input-login">
        {{user.login}}
      </div>
    </div>
    <div class="col-lg-1">
      <button class="btn btn-success save-profile-button" (click)="saveChanges()">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
        Save
      </button>
    </div>
  </div>
  <div class="col-lg-6">
    E-mail <ndv-edit [title]="'email'" [permission]="true" [placeholder]='user.email' (onSave)='saveEditable($event)'></ndv-edit>
  </div>
  <div class="col-lg-6">
    Age <ndv-edit [title]="'age'" [permission]="true" [placeholder]='user.age' (onSave)='saveEditable($event)'></ndv-edit>
  </div>
  <div class="col-md-12 additional-info-profile">
    <div class="card col-md-6">
      <div class="card-header">
        Personal information
      </div>
      <div class="card-block">
        <p>
          <label>
            First name:
            <input class="form-control" type="text" [(ngModel)]="user.firstName">
          </label>
        </p>
        <p>
          <label>
            Last name:
            <input class="form-control" type="text" [(ngModel)]="user.lastName">
          </label>
        </p>
        <p>
          <label>
            Phone number:
            <input class="form-control" type="text" [(ngModel)]="user.phone">
          </label>
        </p>
        <p>
          <label>
            Skype:
            <input class="form-control" type="text" [(ngModel)]="user.skype">
          </label>
        </p>
      </div>
    </div>
    <div class="card col-md-6">
      <div class="card card-default">
        <div class="card-header">
          <i class="fa fa-briefcase fa-fw"></i> Experience
        </div>
        <div class="panel-body">
          <div class="list-group workplaces-list">
            <a class="list-group-item" *ngFor="let workplace of workplaces">
              <i (click)="deleteWorkplace(workplace)" class="fa fa-remove fa-fw"></i> {{workplace.company}}
              <span class="pull-right text-muted small">
                <em>{{workplace.duration}}</em>
              </span>
            </a>
          </div>
          <div class="row card-footer">
            <div class="col-sm-5 new-exp-input">
              <input [(ngModel)]="company" class="form-control" type="text" placeholder="Company name">
            </div>
            <div class="col-sm-5 new-exp-input">
              <input [(ngModel)]="duration"  class="form-control" type="text" placeholder="Duration">
            </div>
            <button (click)="addWorkplace()" class="btn btn-primary add-company-button col-sm-2">
              <i class="fa fa-plus-square-o"></i>
            </button>
          </div>
        </div>
      </div>
      <ng-select [items]="users"
                 (selected)="selected($event)"
                 placeholder="No user selected">
      </ng-select>
    </div>
  </div>
  <div class="col-md-6 messages-box" *ngIf="sentMessages.length">
    <h3>
      Sent messages
    </h3>
    <div class="messages-list">
      <div class="card card-primary card-inverse" *ngFor="let sentItem of sentMessages">
        <div class="card-header card-primary">
          <div class="row">
            <div class="col-xs-6 text-xs-left">
              <div>{{sentItem.receiverLogin}}</div>
            </div>
            <div class="col-xs-5 text-xs-right">
              <div>{{sentItem.title}}</div>
            </div>
            <div class="col-xs-1">
              <i class="fa fa-remove fa-fw" (click)="removeMessage(sentItem)"></i>
            </div>
          </div>
        </div>
        <div class="card-footer card-default">
          <span class="pull-xs-left message-text">{{sentItem.text}}</span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 messages-box" *ngIf="inbox.length">
    <h3>
      Inbox
    </h3>
    <div class="messages-list">
      <div class="card card-primary card-inverse" *ngFor="let inboxItem of inbox">
        <div class="card-header card-primary">
          <div class="row">
            <div class="col-xs-6 text-xs-left">
              <div>{{inboxItem.authorLogin}}</div>
            </div>
            <div class="col-xs-5 text-xs-right">
              <div>{{inboxItem.title}}</div>
            </div>
            <div class="col-xs-1">
              <i class="fa fa-remove fa-fw" (click)="removeMessage(inboxItem)"></i>
            </div>
          </div>
        </div>
        <div class="card-footer card-default">
          <span class="pull-xs-left message-text">{{inboxItem.text}}</span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
