<div class="row">
  <div class="col-xl-12 col-lg-12">
    <h4>Basic example</h4>
    <div class="card card-block">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>id</th>
            <th>Login</th>
            <th>Email</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
            <th>{{user._id}}</th>
            <td>{{user.login}}</td>
            <td>{{user.email}}</td>
            <td>{{user.age}}</td>
            <td>{{user.sex}}</td>
            <td class="actions-column">
              <button class="btn btn-sm btn-info" [routerLink]="['user/:id', {id: user._id}]" >
                <i class="fa fa-info" aria-hidden="true"></i>
              </button>
              <button class="btn btn-sm btn-danger" (click)="removeUser(user)">
                <i class="fa fa-ban"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
