<loader *ngIf="isLoading"></loader>
<div class="row">
  <div class="col-xl-12 col-lg-12">
    <h4>Пользователи</h4>
    <div class="card card-block">
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>id</th>
              <th>Логин</th>
              <th>Email</th>
              <th>Возраст</th>
              <th>Пол</th>
              <th>Действия</th>
              <th>Бан</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users | paginate: { itemsPerPage: 9, currentPage: pageNumber }">
              <th>{{user._id}}</th>
              <td>{{user.login}}</td>
              <td>{{user.email}}</td>
              <td>{{user.age}}</td>
              <td>{{user.sex}}</td>
              <td class="actions-column">
                <button class="btn btn-sm btn-info" [routerLink]="['user/:id', {id: user._id}]" >
                  <i class="fa fa-info" aria-hidden="true"></i>
                </button>
                <button class="btn btn-sm btn-danger"
                        mwlConfirm
                        [title]="'Подтвердите удаление'"
                        [message]="'Вы уверены?'"
                        placement="left"
                        (confirm)="removeUser(user)"
                        [(isOpen)]="user.isOpen">
                  <i class="fa fa-ban"></i>
                </button>
              </td>
              <td>
                <input type="button" class="btn btn-sm"
                       *ngIf="user.role != 'admin'"
                       [ngClass]="{
                            'btn-danger':!user.isBanned,
                            'btn-success':user.isBanned}"
                       value="{{user.isBanned ? 'Разбанить' : 'Забанить'}}"
                       (click)="toggleBan(user)">
              </td>
            </tr>
          </tbody>
        </table>
        <div class="pull-right">
          <pagination [totalItems]="users.length" [(ngModel)]="pageNumber" [maxSize]="5" class="pagination-sm"
                      [boundaryLinks]="true" [rotate]="false" (numPages)="pageNumber = $event"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>
