<div class="col-md-12">
  <div class="col-md-6">
    All
  </div>
  <div class="col-md-6">
    <div class="col-sm-12">
      Search fields
    </div>
    <div class="col-sm-12">
      Chosen for compare
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-3">
      Best
    </div>
    <div class="col-md-3">
      Worst
    </div>
    <div class="col-md-6">
      Chosen graph
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="col-md-12">
        Суммарное изменение всех
      </div>
      <div class="col-md-12">
        цена 2-х
      </div>
    </div>
    <div class="col-md-6">
      Изменение 2-х
    </div>
  </div>
</div>
