.action-name-column{
  width: 75%;
  cursor: pointer;
}
.chosen-actions-list{
  overflow-y: auto;
  height: 350px;
  max-height: 350px;
}
.chosen-action-row{
  width: 80%;
  cursor: pointer;
}
.chosen-action-row-delete{
  width: 20%;
}
div.search-name-block{
  padding: 0;
}
.action-icon-down{
  color: red;
}
.action-icon-up{
  color: #00c000;
}
.top-graphs-holder{
  padding: 0;
}
.action_box{
  width: 30px;
  height: 30px;
  border-radius: 3px;
  border: 2px black solid;
  margin-top: 5px;
}
.blue_box{
  background-color: blue;
}
.red_box{
  background-color: red;
}
