<loader *ngIf="isLoading"></loader>
<div class="col-md-12">
  <div class="col-md-6">
    <h4>Actions</h4>
    <div class="card card-block">
      <div class="table-responsive">
        <bounce-loader *ngIf="isActionsDataRefreshing"></bounce-loader>
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let action of actions | paginate: { itemsPerPage: 5, currentPage: pageNumber }">
              <td class="action-name-column" (click)="selectAction(action)">{{action.name}}</td>
              <td>
                <button class="btn btn-sm btn-info" [routerLink]="['action/:id', {id: action._id}]" >
                  More <i class="fa fa-info" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="pull-right">
          <pagination [totalItems]="actions.length" [(ngModel)]="pageNumber" [maxSize]="5" class="pagination-sm"
                      [boundaryLinks]="true" [rotate]="false" (numPages)="pageNumber = $event"></pagination>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="col-sm-12">
      <div class="col-sm-8 search-name-block">
        <input [(ngModel)]="nameContains" type="text"  class="form-control" placeholder="Action name">
      </div>
      <div class="col-sm-4">
        <button class="btn btn-primary" (click)="findActionByName(nameContains)">
          Find
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card card-block chosen-actions-list">
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <tbody>
              <tr *ngFor="let action of chosenActions" class="chosen-action-row">
                <td (click)="setCurrentlyChosen(action)">{{action.name}}</td>
                <td class="chosen-action-row-delete">
                  <button class="btn-sm btn-danger" (click)="deselectAction(action)" >
                    <i class="fa fa-remove"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-12" *ngIf="currentlyChosenAction">
      <div class="col-sm-3">
        Current:
      </div>
      <div class="col-sm-5">
        {{currentlyChosenAction.name}}
      </div>
      <div class="col-sm-4">
        <button class="btn btn-danger" (click)="setCurrentlyChosen(null)">
          Clear <i class="fa fa-remove"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-3">
      Best
    </div>
    <div class="col-md-3">
      Worst
    </div>
      <div class="col-md-6">
        <div>
          <nvd3 [options]="options" [data]="data"></nvd3>
        </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="col-md-12">
        Суммарное изменение всех
      </div>
      <div class="col-md-12">
        цена 2-х
      </div>
    </div>
    <div class="col-md-6">
      Изменение 2-х
    </div>
  </div>
</div>
